# Cổng chạy ứng dụng
PORT=3000
NODE_ENV=development

APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

# PostgreSQL Connection String (VD: Neon Cloud PostgreSQL)
DATABASE_URL=postgresql://user:password@ep-sample-pooler.region.aws.neon.tech/finora_db?sslmode=require
